<div class="container max-w-lg mx-auto  shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h1 class="text-2xl font-bold mb-4">New Comment</h1>
  <%= link_to '◀️', user_path(@user) , class: "flex justify-center w-24  m-1 
 p-4 rounded-lg transition-transform ease-in-out duration-500 group-hover:scale-75"%>

  <%= form_with model: [@post, @comment], url: user_post_comments_path(@post.author, @post), method: :post do |f| %>
    <div class="mb-4">
      <%= f.label :text, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.text_field :text, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex items-center justify-between">
      <%= f.submit "Create Comment", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
