<h1>User Details</h1>
<div>
   <div class="user">
   <img src="<%= @user.photo %>" alt="user image">
     <h2><%= @user.name %></h2>
     <p>Number of posts : <%= @user.postcounter %></p>
   </div>
   <div class="user-bio">
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
   </div>
  <div class="post-list">
  <% @user.posts.first(3).each do |post| %>
    <h5>Post # <%= post.id %></h5>
    <p>
      <%= post.title %>
    </p>
    <p>
     Comments :  <%= post.commentscounter %>
    </p>
    <p>
      Likes : <%= post.likescounter %>
    </p>

  <% end %>
</div>

<div id="remaining-posts" class="hidden">
  <% @user.posts.drop(3).each do |post| %>
    <h5>Post # <%= post.id %></h5>
    <p>
      <%= post.title %>
    </p>
    <p>
     Comments :  <%= post.commentscounter %>
    </p>
    <p>
      Likes : <%= post.likescounter %>
    </p>

  <% end %>
</div>
<button id="show-all-btn">See all posts</button>

</div>