<h1>User Details</h1>
<div>
   <div class="user">
     <h2><%= @user.name %></h2>
     <p>Number of posts : <%= @user.postcounter %></p>
   </div>
   <div class="user-bio">
      <h3>Bio</h3>
      <p><%= @user.bio %></p>
   </div>
   <ul>
  <% @user.posts.each do |post| %>
    <li>
      <%= post.title %>
    </li>
    <li>
      <%= post.text %>
    </li>
    <li>
     Comments :  <%= post.commentscounter %>
    </li>
    <li>
      Likes : <%= post.likescounter %>
    </li>

  <% end %>
</ul>

</div>