<h1>All posts with their comments </h1>
<div>
   <div class="each_user">
       <div class="img">
           <img src="<%= @user.photo %>" alt="user image">
        </div>
       <div class="user">
           <h2><%= @user.name %></h2>
           <p>Number of posts : <%= @user.postcounter %></p>
        </div>
   </div>
   <div>
         <% @posts.each do |post| %>
            <div >
              <a href="<%= user_post_path(@user, post) %>">
                  <h5>Post # <%= post.id %></h5>
              </a>
                <p><%= post.title %></p>
                <p> Comments :  <%= post.commentscounter %></p>
                <p>Likes : <%= post.likescounter %></p>
            </div>
            <div>
                 <ul>
                     <% if post.comments.any? %>
                     <% post.comments.each do |comment| %>
                     <li><strong><%= comment.author.name %>:</strong> <%= comment.text %></li>
                     <% end %>
                     <% else %>
                         <li>No comments yet</li>
                     <% end %>
                </ul>
            </div>
      <% end %>
     </div>

</div>