<h1>All posts with their comments </h1>
<div>
   <div class="each_user">
       <div class="img">
           <img src="<%= @user.photo %>" alt="user image">
        </div>
       <div class="user">
           <h2><%= @user.name %></h2>
           <p>Number of posts : <%= @user.postcounter %></p>
        </div>
   </div>
   <% @posts.each do |post| %>
    <div class="each_post">
      <div class="post">
        <%= link_to user_post_path(@user, post) do %>
          <h5>Post # <%= post.id %></h5>
          <p><%= post.title %></p>
          <p><%= post.text %></p>
          <p class="coment_like"> Comments: <%= post.commentscounter %> , Likes : <%= post.likescounter %> </p>
        <% end %>
      </div>
      <div class="comment">
        <ul>
          <% post.recent_comments.each do |comment| %>
            <li><strong><%= comment.author.name %> :  </strong> <%= comment.text %>  # <%= comment.id %></li>
          <% end %>
        </ul>
      </div>
      <div class="coment_like">
        <%= link_to "Add Comment", new_user_post_comment_path(@user, post) %>
        <%= button_to "Like💗", user_post_likes_path(@user, post_id: post.id) %>
      </div>
    </div>
  <% end %>
     
     <div class="pagination">
     <%= link_to "Pagination", user_path(@user), class: "button" %>
   </div>
   <%= link_to 'New Post', new_user_post_path(@user), class: "post-button"%>
</div>