<h1>All posts with their comments </h1>
<div>
   <div class="each_user">
       <div class="img">
           <img src="<%= @user.photo %>" alt="user image">
        </div>
       <div class="user">
           <h2><%= @user.name %></h2>
           <p>Number of posts : <%= @user.postcounter %></p>
        </div>
   </div>
         <% @posts.each do |post| %>
            <div class="each_post">
            <div class="post">
            <%= link_to user_post_path(@user, post) do %>
                  <h5>Post # <%= post.id %></h5>
              
                <p><%= post.title %></p>
                 <p class="coment_like"> Comments: <%= post.commentscounter %> , Likes : <%= post.likescounter %> </p>
            </div>
            <div class="comment">
                 <ul>
                     <% if post.comments.any? %>
                     <% post.comments.each do |comment| %>
                     <li><strong><%= comment.author.name %> :  </strong> <%= comment.text %>  # <%= comment.id %></li>
                     <% end %>
                     <% else %>
                         <li>No comments yet</li>
                     <% end %>
                </ul>
            </div>
        <% end %>
        </div>
      <% end %>
     
     <div class="pagination">
     <%= link_to "Pagination", user_path(@user), class: "button" %>
   </div>

</div>