<h1>Post Details</h1>

 <div class="each_post" >
  <div class="post">
     <div>
     <h2><%= @post.title %>  By <%= @user.name %> </h2>
     <p class="coment_like"> Comments: <%= @post.commentscounter %> , Likes : <%= @post.likescounter %> </p>
     </div>
     
      <p> <%= @post.text %></p>
</div>

      <ul class="comment">
        <% if @comments.any? %>
        <% @comments.each do |comment| %>
             <li><strong><%= comment.author.name %>:</strong> <%= comment.text %>   # <%= comment.id %></li>
        <% end %>
        <% else %>
           <li>No comments yet</li>
        <% end %>
      </ul>

  </div>


